<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Project</title>
</head>
<body>
	<form th:action="@{/sign-up}" method="POST" th:object="${communicator-model}">
		<th:block th:if="${#fields.hasErrors('communicatorEmail')}">
			<th:block th:each="ele : ${#fields.errors('communicatorEmail')}">
				<p th:text="|${ele}|"></p>
			</th:block>
		</th:block>
		<label for="email">Email: </label>
		<input type="text" id="email" th:field="*{communicatorEmail}"/><br/><br/>
		<th:block th:if="${#fields.hasErrors('password')}">
			<th:block th:each="ele : ${#fields.errors('password')}">
				<p th:text="|${ele}|"></p>
			</th:block>
		</th:block>
		<label for="password">Password: </label>
		<input type="password" id="password" th:field="*{password}"/><br/><br/>
		<th:block th:if="${#fields.hasErrors('communicatorFirstName')}">
			<th:block th:each="ele : ${$fields.errors('communicatorFirstName')}">
				<p th:text="|${ele}|"></p>
			</th:block>
		</th:block>
		<label for="first-name">First name: </label>
		<input type="text" id="first-name" th:field="*{communicatorFirstName}"/><br/><br/>
		<th:block th:if="${#fields.hasErrors('communicatorLastName')}">
			<th:block th:each="ele : ${#fields.errors('communicatorLastName')}">
				<p th:text="|${ele}|"></p>			
			</th:block>
		</th:block>
		<label for="last-name">Last name: </label>
		<input type="text" id="last-name" th:field="*{communicatorLastName}"/><br/><br/>
		<th:block th:if="${#fields.hasErrors('communicatorDOB')}">
			<th:block th:each="ele : ${#fields.errors('communicatorDOB')}">
				<p th:text="|${ele}|"></p>
			</th:block>
		</th:block>
		<label for="dob">Date of birth: </label>
		<input type="date" id="dob" th:field="*{communicatorDOB}"/><br/><br/>
		<input type="submit" value="Sign up"/>
	</form>
</body>
</html>





































































