* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
}
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  #icons {
      width: 10%;
  }

  #header1 {
      width: 25%;
      height: 550px;
      overflow-y: auto;
  }

  #header2 {
      width: 65%;
  }

  .icons-container {
      font-size: 30px;
      margin-top: 20px;
      padding: 10px;
  }

  .icons-container:hover {
      background-color: #ddd;
  }

  #conversations-icon {
      position: relative;
  }

  #notifications-icon {
      position: relative;
  }

  #badge1 {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 15px;
    visibility: hidden;
  }

  #badge2 {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 15px;
    visibility: hidden;
  }
  
  #friend-request-form {
    padding: 10px;
  }

  #friend-request-form-cover {
    border: 1px solid black;
    padding: 10px;
  }

  #friend-request-sending-button {
    margin-left: 270px;
  }

  #friend-requests-icon:hover {
    cursor: grab;
  }
  
  .notification-element {
  	padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
  }
  
  #message-creating-icon:hover {
  	cursor: grab;
  }
  
  #room-creating-button {
  	margin-left: 270px;
  }
  
  .conversation-layout {
  	padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
  }
  
  #message-cover {
    border: 1px solid black;
    padding: 10px;
    height: 370px;
  }

  #message-reply-cover {
    border: 1px solid black;
    padding: 10px;
    height: 75px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
  }

  #message-reply {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 50px;
    word-wrap: break-word;
    overflow: auto;
  }

  #sending-message-button {
    font-size: 30px;
    position: absolute;
    top: 23px;
    right: 16px;
  }

  #sending-message-button:hover {
    cursor: grab;
  }

  .float-child {
    float: left;
    width: 25%;
  }

  .message-content-cover {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    overflow: auto;
  }

  .message-content-from-others {
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    resize: both;
    word-wrap: break-word;
    padding: 5px;
    margin-top: 10px;
  }

  .message-content-from-me {
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    resize: both;
    word-wrap: break-word;
    padding: 5px;
    margin-top: 10px;
    margin-left: 565px;
  }
  
  
  
  
  