<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/sign-in-succeeded/sign-in-succeeded-page.css}"/>
    <title>Communicatee</title>
</head>
<body>
	<input type="hidden" id="communicator-email" th:value="|${session.communicator.communicatorEmail}|"/>
	<input type="hidden" id="communicator-first-name" th:value="|${session.communicator.communicatorFirstName}|"/>
	<input type="hidden" id="communicator-last-name" th:value="|${session.communicator.communicatorLastName}|"/>
	
	<th:block th:with="room = ${session.communicator.room}">
		<th:block th:each="ele : ${room}">
			<input type="hidden" name="communicator-room" th:value="${ele.roomId}"/>
		</th:block>
	</th:block>
	
	<div class="header">
        <h1>Header</h1>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>

    <div class="topnav">
        <a href="#" th:text="|Hello ${session.communicator.communicatorFirstName}|">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>

    <div class="row">
        <div class="column" id="icons">
            <h2>Icons</h2>
            <div class="icons-container">
                <i class="far fa-comment-dots" id="conversations-icon">
                    <span id="badge1">0</span>
                </i>
            </div>
            <div class="icons-container">
                <i class="far fa-bell" id="notifications-icon">
                    <span id="badge2">0</span>
                </i>
            </div>
            <div class="icons-container">
                <i class="far fa-comments" id="message-creating-icon"></i>
            </div>
            <div class="icons-container">
                <i class="fas fa-users" id="friend-requests-icon"></i>
            </div>
        </div>
        
        <div class="column" id="header1">
            <h2>Header</h2>
        </div>
        
        <div class="column" id="header2">
            <h2>Header</h2>
        </div>
    </div>
    
    <script th:src="@{/js/sign-in-succeeded/sign-in-succeeded-page.js}"></script>
        
</body>
</html>

































